<h2>Checking Out...</h2>

<div class='payment response'>
  <div class='title'>
    Results of payment:
  </div>
  <div class='body'>
    <%= @cart.token %>
  </div>
  <div class='body'>
  	<%= link_to 'Clear token', current_cart_clear_token_path, method: :post %>
  </div>
</div>