@import 'bootstrap';
@import 'bootstrap-responsive';
@import "bootstrap/sprites";

.hidden {
	display: none;
}

#myCarousel {
	width: 825px;
	margin: 0 auto;
}

#notifications {
	.user {
		color: #666;
	}
	float: left;
	height: 38px;
}

.notice {
	color: #30CE36;
}

.navbar {
	.navbar-inner {
		border-radius: 0;
		direction: rtl;
		.nav {
			float: right;
			&> li {
				float: right;
				margin: 0;
			}
		}
	}
}

// Fixes squeesh bug (T.Bootstrap + Jcrop)
#preview_wrapper {
    width: 132px; 
    height:100px; 
    overflow:hidden;
    display: inline-block;
}
#preview {
    max-width: none;
}